<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
    </head>
    <body>

        <h1>Historical price chart for {{name}}</h1>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

        <canvas id="chart" width="500" height="500"></canvas>

        <script>
            let ctx = document.getElementById("chart").getContext("2d");

            var width = window.innerWidth
            var height = window.innerHeight

            ctx.canvas.width = width * 0.8
            ctx.canvas.height = height * 0.5

            var dates = []
            var prices = []

            {% for stock in data %}
                dates.push("{{stock.date}}")
                prices.push("{{stock.close}}")
            {% endfor %}

            let chart = new Chart(ctx, {
            type: "line",
            data: {
                labels: dates,
                datasets: [
                    {
                    label: "Prices for {{name}}",
                    backgroundColor: "#79AEC8",
                    borderColor: "#417690",
                    data: prices
                    }
                ]
            },
            options: {
                responsive: false,
                pointRadius: 0,
            }
            });
        </script>

        {% comment %} <script>

            document.querySelector('button').addEventListener('click', filterData)

            function filterData() {
                let chart = document.getElementById("chart").getContext("2d");

                let start = document.getElementById("start").value
                let end = document.getElementById("end").value

                var dates = []
                var prices = []

                {% for stock in data %}
                    if ({{stock.date}} >= start && {{stock.date}} <= end) {
                        dates.push("{{stock.date}}")
                        prices.push("{{stock.close}}")
                    }
                {% endfor %}

                chart.data.labels = dates
                chart.data.data.datasets.data = prices
            }

        </script>

        <!-- let user filter time period for data -->
        <label for="start">Start date:</label>
        <input type="date" id="start" name="start" value="2021-01-01" min="2010-01-01" max="2030-12-31">
        <label for="end">End date:</label>
        <input type="date" id="end" name="end" value="2021-12-31" min="2010-01-01" max="2030-12-31">
        <input type="button" value="Filter" onclick=filterData()> {% endcomment %}

        <h1>Day breakdown for {{name}}</h1>
        <input type="button" value="Back" onclick="window.location.href='/'">
        <table>
            {% for stock in data %}
                <tr>
                    <th>{{stock.date}}</th>
                    <th>{{stock.close}}</th>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
